<page-header title="Delivery"
[nav]="['home', 'orders', 'delivery']"></page-header>

<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <mat-card>
      <mat-card-title>Order Delivery</mat-card-title>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
              
        <div fxFlex="15" fxFlex.lt-sm="100">
          <mat-label><strong> Order # </strong>:</mat-label>
        </div>
        <div fxFlex="85" fxFlex.lt-sm="100">
          <mat-label>{{deliveryData.order_no}}</mat-label>
        </div>

      </div>
      <br>
     <div fxLayout="row wrap" fxLayoutGap="8px grid">
           
        <div fxFlex="100" fxFlex.lt-sm="100">
            
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" >
              <ng-container matColumnDef="check">
                <th mat-header-cell *matHeaderCellDef> Full Received </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [(ngModel)]="element.fullReceived"
                    (change)="fullReceivedChanged(element)"
                    [checked]="element.fullReceived">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="item_name">
                <th mat-header-cell *matHeaderCellDef> Booked Item </th>
                <td mat-cell *matCellDef="let element"> {{element.item_name}} - {{element.booked_item_quantity}} {{ element.item_unit_id.name}} </td>
              </ng-container>
              <!-- <ng-container matColumnDef="booked_item_quantity">
                <th mat-header-cell *matHeaderCellDef> Booked Item Quantity </th>
                <td mat-cell *matCellDef="let element">{{element.booked_item_quantity}}</td>
              </ng-container> -->
              <ng-container matColumnDef="item_quantity">
                <th mat-header-cell *matHeaderCellDef> Received Qty </th>
                <td mat-cell *matCellDef="let element">
                    <input type="number" [ngModelOptions]="{ standalone: true }" (change)="quantityChange(element)" style="max-width: 70px" [(ngModel)]="element.item_quantity" min="0"/> 
                    <!-- / {{element.item_unit_id.name}} -->
                </td>
              </ng-container>
              <!-- <ng-container matColumnDef="item_unit_id">
                <th mat-header-cell *matHeaderCellDef> Item Unit </th>
                <td mat-cell *matCellDef="let element">{{getBaseUnit(element.item_unit_id)}}</td>
              </ng-container> -->
              <ng-container matColumnDef="weight_item_quantity">
                <th mat-header-cell *matHeaderCellDef> Received Weight </th>
                <td mat-cell *matCellDef="let element">
                    <input type="number" [ngModelOptions]="{ standalone: true }" (change)="weightChange(element)" style="max-width: 70px" [(ngModel)]="element.weight_item_quantity" min="0"/>
                </td>
              </ng-container>
              <ng-container matColumnDef="loss_in_transit">
                <th mat-header-cell *matHeaderCellDef> Transit Loss </th>
                <td mat-cell *matCellDef="let element">{{element.loss_in_transit | number}} {{getBaseUnit(element.item_unit_id)}}</td>
              </ng-container>
              <ng-container matColumnDef="scaling_loss">
                <th mat-header-cell *matHeaderCellDef> Scaling Loss </th>
                <td mat-cell *matCellDef="let element">{{element.scaling_loss | number}} {{getBaseUnit(element.item_unit_id)}}</td>
              </ng-container> 
              <ng-container matColumnDef="wastage_item_quantity">
                <th mat-header-cell *matHeaderCellDef> Wastage Qty </th>
                <td mat-cell *matCellDef="let element">
                    <input type="number" [ngModelOptions]="{ standalone: true }" style="max-width: 70px" [(ngModel)]="element.wastage_item_quantity" min="0"/> 
                    <!-- / {{getBaseUnit(element.item_unit_id)}} -->
                </td>
              </ng-container>
              <ng-container matColumnDef="wastage_reason">
                <th mat-header-cell *matHeaderCellDef> Wastage Reason </th>
                <td mat-cell *matCellDef="let element">
                    <input type="text" [ngModelOptions]="{ standalone: true }" style="max-width: 70px" [(ngModel)]="element.wastage_reason" min="0"/>
                </td>
              </ng-container>           
            
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
            </table>
        </div>
      </div>
      <button mat-raised-button color="primary" type="button" (click)="onReceived();" class="m-t-8">Received</button>
      <!-- <p>{{deliveryData | json}}</p> -->
    </mat-card>
  </div>
</div>