<page-header title="{{ isEditMode ? 'Edit Processing Unit' : 'New Processing Unit' }}" [nav]="['home', 'Processing', 'new']" ></page-header>

<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-card>
      <mat-card-title>
          {{ isEditMode ? 'Edit Processing Unit' : 'New Processing Unit' }}
      </mat-card-title>
            <!-- processingForm -->
      <form [formGroup]="processingForm" (submit)="onProcessingFormSubmit($event)" class="form-field-full" >
        <div fxLayout="row wrap" fxLayoutGap="8px grid">

          <mat-form-field fxFlex="33" *ngIf="isAdmin" fxFlex.lt-sm="100">
            <mat-label>Role</mat-label>
            <mat-select placeholder="Role" required (selectionChange)="roleChanged();" formControlName="role_id" name="role" >
              <mat-option *ngFor="let role of roleList"  [value]="role.type" >
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="processingForm.get('role_id').invalid">
              {{ "validations.required" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="33" *ngIf="isAdmin" fxFlex.lt-sm="100">
            <mat-label>User</mat-label>
            <mat-select placeholder="User" required formControlName="user_id" (selectionChange)="userSelectionChange()" name="searchUserId" >
              <mat-option *ngFor="let user of userList"  [value]="user._id" >
                {{ user.first_name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="processingForm.get('user_id').invalid">
              {{ "validations.required" | translate }}
            </mat-error>
          </mat-form-field>

          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field>
                <mat-label>Item Type</mat-label>
                <mat-select formControlName="item_type" placeholder="Item" (selectionChange)="itemTypeChanged()" required>
                    <mat-option value="RAW_MATERIAL" *ngIf="isMP && !onlySallableMode">Raw Material</mat-option>
                    <mat-option value="SELLABLE" >Sellable</mat-option>
                </mat-select>
                <mat-error *ngIf="processingForm.get('item_type').invalid">
                    {{ "validations.required" | translate }}
                </mat-error>
            </mat-form-field>
          </div>
    
          <!-- item -->
          <div fxFlex="34" *ngIf="!isSallable" fxFlex.lt-sm="100">
            <mat-form-field>
                <mat-label>Item</mat-label>
                <mat-select formControlName="raw_item_id" placeholder="Item" required>
                    <mat-option *ngFor="let item of itemList" [value]="item._id" >
                        {{ item.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="processingForm.get('raw_item_id').invalid">
                    {{ "validations.required" | translate }}
                </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="33" *ngIf="isSallable" fxFlex.lt-sm="100">
            <mat-form-field>
                <mat-label>Production Item</mat-label>
                <mat-select formControlName="sellable_item_id" placeholder="Production Item" required>
                    <mat-option *ngFor="let item of userSellableItemList" [value]="item._id" >
                        {{ item.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="processingForm.get('sellable_item_id').invalid">
                    {{ "validations.required" | translate }}
                </mat-error>
            </mat-form-field>
          </div>

          <!-- consumed unit -->
          <div fxFlex="33" *ngIf="!isSallable" fxFlex.lt-sm="100">
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <mat-select formControlName="consumed_unit_id" placeholder="Unit" required>
                    <mat-option *ngFor="let unit of unitList" [value]="unit._id" >
                        {{ unit.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="processingForm.get('consumed_unit_id').invalid">
                    {{ "validations.required" | translate }}
                </mat-error>
            </mat-form-field>
          </div>

          <!-- consumed qty -->
          <div fxFlex="33" *ngIf="!isSallable" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input matInput placeholder="Quantity" formControlName="consumed_quantity" required min="0" type="number">
              <mat-error *ngIf="processingForm.get('consumed_quantity').invalid">
                {{'validations.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- wastage unit -->
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field>
                <mat-label>Wastage Unit</mat-label>
                <mat-select formControlName="wastage_unit_id" placeholder="Wastage Unit">
                    <mat-option *ngFor="let unit of unitList" [value]="unit._id" >
                        {{ unit.name }}
                    </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="processingForm.get('wastage_unit_id').invalid">
                    {{ "validations.required" | translate }}
                </mat-error> -->
            </mat-form-field>
          </div>

          <!-- wastage qty -->
          <div fxFlex="34" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Wastage Quantity</mat-label>
              <input matInput placeholder="Wastage Quantity" formControlName="wastage_quantity" min="0" type="number">
              <!-- <mat-error *ngIf="processingForm.get('wastage_quantity').invalid">
                {{'validations.required' | translate}}
              </mat-error> -->
            </mat-form-field>
          </div>

          <mat-tab-group style="width: 100%;" *ngIf="!isSallable">
            <!-- production -->
            <mat-tab label="Production">
              <mat-card>
                <!-- sellar item -->
                  <div fxLayout="row wrap" fxLayoutGap="8px grid">
                    <div fxFlex="30" fxFlex.lt-sm="100">
                      <mat-form-field>
                          <mat-label>Production Item</mat-label>
                          <mat-select formControlName="sellable_item_id" placeholder="Production Item" (selectionChange)="productionItemChanged($event)" required>
                              <mat-option *ngFor="let item of sellableItemList" [value]="item._id" >
                                  {{ item.name }}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="processingForm.get('sellable_item_id').invalid">
                              {{ "validations.required" | translate }}
                          </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <form class="form-field-full" [formGroup]="productionForm" (submit)="onProductionFormSubmit($event)">
                    <div fxLayout="row wrap" fxLayoutGap="8px grid">
                      <!-- production unit  -->
                      <div fxFlex="30" fxFlex.lt-sm="100">
                        <mat-form-field>
                            <mat-label>Production Unit</mat-label>
                            <mat-select formControlName="unit_id" placeholder="Production Unit" required (selectionChange)="productionUnitChanged($event)">
                                <mat-option *ngFor="let unit of unitList" [value]="unit" >
                                    {{ unit.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="productionForm.get('unit_id').invalid">
                                {{ "validations.required" | translate }}
                            </mat-error>
                        </mat-form-field>
                      </div>
            
                      <!-- producion qty -->
                      <div fxFlex="30" fxFlex.lt-sm="100">
                        <mat-form-field>
                          <mat-label>Production Quantity</mat-label>
                          <input matInput placeholder="Production Quantity" formControlName="production_quantity" required min="0" type="number">
                          <mat-error *ngIf="productionForm.get('production_quantity').invalid">
                            {{'validations.required' | translate}}
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <!-- price -->
                      <div fxFlex="30" fxFlex.lt-sm="100" *ngIf="showUnitPrice">
                        <mat-form-field>
                          <mat-label>Price</mat-label>
                          <input matInput placeholder="Price" formControlName="item_price"  required min="0" type="number">
                          <mat-error *ngIf="productionForm.get('item_price').invalid">
                            {{'validations.required' | translate}}
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <!-- item_barcode -->
                      <div fxFlex="30" fxFlex.lt-sm="100" *ngIf="showUnitBarcode">
                        <mat-form-field>
                          <mat-label>Item Barcode</mat-label>
                          <input matInput placeholder="Item Barcode" formControlName="item_barcode" required>
                          <mat-error *ngIf="productionForm.get('item_barcode').invalid">
                            {{'validations.required' | translate}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <button mat-raised-button color="primary" 
                      type="submit" style="margin-right: 5px" class="m-t-8">
                      Add
                    </button>
                    <button mat-raised-button type="button" (click)="productionForm.reset()" class="m-t-8">
                      Reset
                    </button>
                  </form>     
                <!-- production table -->                 
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="productionSource" matSort>

                    <ng-container matColumnDef="consumed_unit_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Production Unit</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ getUnit(row.unit_id) }}
                      </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="consumed_quantity">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Production Qty</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ row.production_quantity }}
                      </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="item_price">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ row.item_price }}
                      </td>
                    </ng-container> 
                    
                    <ng-container matColumnDef="item_barcode">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Barcode</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ row.item_barcode }}
                      </td>
                    </ng-container>
                                
                    <!-- control column -->
                    <ng-container matColumnDef="controls">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Controls</th>
                      <td mat-cell *matCellDef="let row; let i = index">
                        <mat-grid-list cols="3" rowHeight="50px">
                          <!-- <mat-grid-tile>
                            <button mat-icon-button aria-label="Edit"  (click)="navigateToEdit(row._id)" [routerLink]="[]" >
                              <mat-icon color="primary">create</mat-icon>
                            </button>
                          </mat-grid-tile> -->
                          <mat-grid-tile>
                            <button mat-icon-button aria-label="Delete" type="button" (click)="deleteProductionItem(i)">
                              <mat-icon color="accent">delete</mat-icon>
                            </button>
                          </mat-grid-tile>
                        </mat-grid-list>
                      </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="productionColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: productionColumn"></tr>
                
                  </table>                   
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab label="Packaging Material">
              <mat-card>
                <form class="form-field-full" [formGroup]="packingForm" (submit)="onPackingFormSubmit($event)">
                  <div fxLayout="row wrap" fxLayoutGap="8px grid">
                    <!-- packing item -->
                    <div fxFlex="30" fxFlex.lt-sm="100">
                      <mat-form-field>
                          <mat-label>Packaging Item</mat-label>
                          <mat-select formControlName="item_id" placeholder="Packaging Item" required>
                              <mat-option *ngFor="let item of packingItemList" [value]="item._id" >
                                  {{ item.name }}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="packingForm.get('item_id').invalid">
                              {{ "validations.required" | translate }}
                          </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row wrap" fxLayoutGap="8px grid">
                    <!-- consumed unit -->
                    <div fxFlex="30" fxFlex.lt-sm="100">
                      <mat-form-field>
                          <mat-label>Packaging Unit</mat-label>
                          <mat-select formControlName="consumed_unit_id" placeholder="Packaging Unit" required>
                              <mat-option *ngFor="let unit of unitList" [value]="unit._id" >
                                  {{ unit.name }}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="packingForm.get('consumed_unit_id').invalid">
                              {{ "validations.required" | translate }}
                          </mat-error>
                      </mat-form-field>
                    </div>
                    
                    <!-- consumed qty -->
                    <div fxFlex="30" fxFlex.lt-sm="100">
                      <mat-form-field>
                        <mat-label>Packaging Quantity</mat-label>
                        <input matInput placeholder="Packaging Quantity" formControlName="consumed_quantity" required min="0" type="number">
                        <mat-error *ngIf="packingForm.get('consumed_quantity').invalid">
                          {{'validations.required' | translate}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row wrap" fxLayoutGap="8px grid">

                    <!-- wastage unit -->
                    <div fxFlex="30" fxFlex.lt-sm="100">
                      <mat-form-field>
                          <mat-label>Wastage Unit</mat-label>
                          <mat-select formControlName="wastage_unit_id" placeholder="Wastage Unit" >
                              <mat-option *ngFor="let unit of unitList" [value]="unit._id" >
                                  {{ unit.name }}
                              </mat-option>
                          </mat-select>
                          <!-- <mat-error *ngIf="packingForm.get('wastage_unit_id').invalid">
                              {{ "validations.required" | translate }}
                          </mat-error> -->
                      </mat-form-field>
                    </div>
          
                    <!-- wastage qty -->
                    <div fxFlex="30" fxFlex.lt-sm="100">
                      <mat-form-field>
                        <mat-label>Wastage Quantity</mat-label>
                        <input matInput placeholder="Wastage Quantity" formControlName="wastage_quantity" min="0" type="number">
                        <!-- <mat-error *ngIf="packingForm.get('wastage_quantity').invalid">
                          {{'validations.required' | translate}}
                        </mat-error> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button color="primary" 
                    type="submit" style="margin-right: 5px" class="m-t-8">
                    Add
                  </button>
                  <button mat-raised-button type="button" (click)="packingForm.reset()" class="m-t-8">
                    Reset
                  </button>
                </form>
                
                <!-- packing table -->
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="packagingMaterialSource" matSort>
                    
                    <ng-container matColumnDef="item_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ getItem(row.item_id) }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="consumed_unit_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Consumed Unit</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ getUnit(row.consumed_unit_id) }}
                      </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="consumed_quantity">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Consumed Qty</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ row.consumed_quantity }}
                      </td>
                    </ng-container>
                
                    <ng-container matColumnDef="wastage_unit_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Wastage Unit</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ getUnit(row.wastage_unit_id) }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="wastage_quantity">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Wastage Qty</th>
                      <td mat-cell style="max-width: 100px" *matCellDef="let row">
                        {{ row.wastage_quantity }}
                      </td>
                    </ng-container>


                
                    <!-- control column -->
                    <ng-container matColumnDef="controls">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Controls</th>
                      <td mat-cell *matCellDef="let row; let i = index">
                        <mat-grid-list cols="3" rowHeight="50px">
                          <!-- <mat-grid-tile>
                            <button mat-icon-button aria-label="Edit"  (click)="navigateToEdit(row._id)" [routerLink]="[]" >
                              <mat-icon color="primary">create</mat-icon>
                            </button>
                          </mat-grid-tile> -->
                          <mat-grid-tile>
                            <button mat-icon-button aria-label="Delete" (click)="deletePackagingItem(i)">
                              <mat-icon color="accent">delete</mat-icon>
                            </button>
                          </mat-grid-tile>
                        </mat-grid-list>
                      </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="packagingMaterialColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: packagingMaterialColumn"></tr>
                
                  </table>                   
                </div>
                
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </div> 

        <button mat-raised-button color="primary" type="submit" style="margin-right: 5px" class="m-t-8">
          Save
        </button>
        <button mat-raised-button type="button" [routerLink]="['/processing-units']" class="m-t-8">
          Back
        </button>
      </form>
    </mat-card>
  </div>
</div>
