<page-header title="{{ isEditMode ? 'Edit Unit': 'New Unit'}}" [nav]="['home','unites','new']"></page-header>

<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
      <mat-card>
        <mat-card-title>{{ isEditMode ? 'Edit Unit': 'New Unit'}} </mat-card-title>
  
        <form [formGroup]="unitForm" (submit)="onFormSubmit($event);" class="form-field-full">
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            
            <div fxFlex="25" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Unit Name" formControlName="name"
                       required>
                <mat-error *ngIf="unitForm.get('name').invalid">
                  {{'validations.required' | translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Base Unit</mat-label>
                <mat-select formControlName="base_unit" placeholder="Base Unit">
                    <mat-option *ngFor="let item of baseUnites" [value]="item._id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="unitForm.get('base_unit').invalid">
                    {{'validations.required' | translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Base Quantity</mat-label>
                <input matInput placeholder="Base Quantity" min="0" type="number"
                        formControlName="base_quantity" >
                <mat-error *ngIf="unitForm.get('base_quantity').invalid">
                  {{'validations.required' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            
            <div fxFlex="25" fxFlex.lt-sm="100">
              <mat-slide-toggle formControlName="is_active" style="margin-top: 20px;" color="primary">
                {{is_active_value ? 'Active' : 'Inactive'}}
              </mat-slide-toggle>
            </div>

            <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
                <mat-card>
                    <mat-card-title>Packaging Material Consumed</mat-card-title>
                    <form [formGroup]="packageForm" (submit)="onPackFormSubmit($event);" class="form-field-full">
                        <div fxLayout="row wrap" fxLayoutGap="8px grid">
                        
                        <div fxFlex="30" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Item</mat-label>
                                <mat-select formControlName="item_id" placeholder="Item" required>
                                    <mat-option *ngFor="let item of itemList" [value]="item">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="packageForm.get('item_id').invalid">
                                    {{'validations.required' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
            
                        <div fxFlex="30" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Item Unit</mat-label>
                                <mat-select formControlName="item_unit_id" placeholder="Item Unit" required>
                                    <mat-option *ngFor="let item of baseUnites" [value]="item">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="packageForm.get('item_unit_id').invalid">
                                    {{'validations.required' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
            
                        <div fxFlex="30" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Item Quantity</mat-label>
                                <input matInput placeholder="Item Quantity" min="0" type="number" formControlName="item_quantity"
                                        required>
                                <mat-error *ngIf="packageForm.get('item_quantity').invalid">
                                    {{'validations.required' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="10" fxFlex.lt-sm="100">
                            <button mat-raised-button color="primary" type="submit" style="margin-right: 5px;" class="m-t-8">Add</button>
                        </div>

                        <div fxFlex="100" class="mat-elevation-z8">
                          <table mat-table [dataSource]="dataSource" matSort>
                      
                            <!-- Name Column -->
                            <ng-container matColumnDef="item_id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
                              <td mat-cell *matCellDef="let row"> {{row.item_id.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="item_unit_id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Unit </th>
                              <td mat-cell *matCellDef="let row"> {{row.item_unit_id.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="item_quantity">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                              <td mat-cell *matCellDef="let row"> {{row.item_quantity}} </td>
                            </ng-container>
                        
                            
                        
                            <!-- control column -->
                            <ng-container matColumnDef="controls">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Controls </th>
                              <td mat-cell *matCellDef="let row"> 
                                <mat-grid-list cols="2" rowHeight="50px">
                                  <!-- <mat-grid-tile>
                                    <button mat-icon-button aria-label="Edit" (click)="navigateToEdit(row._id)" [routerLink]="[]" >
                                      <mat-icon color="primary">create</mat-icon>
                                    </button>
                                  </mat-grid-tile> -->
                                  <mat-grid-tile>
                                    <button mat-icon-button aria-label="Delete" (click)="deletePackging(row)">
                                      <mat-icon color="accent">delete</mat-icon>
                                    </button>
                                  </mat-grid-tile>
                                </mat-grid-list>
                              </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="packageColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: packageColumns;"></tr>
                        
                            <!-- Row shown when there is no matching data. -->
                            <!-- <tr class="mat-row" *matNoDataRow>
                              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr> -->
                          </table>
                        </div>
                        
                        </div>
                    </form>
                </mat-card>
            </div>
          </div>
  
          <button mat-raised-button color="primary" type="submit" style="margin-right: 5px;" class="m-t-8">Save</button>
          <button mat-raised-button type="button" [routerLink]="['/unites']"  class="m-t-8"> Back</button>
        </form>
  
      </mat-card>
      
    </div>
</div>