<page-header></page-header>

<section>
  <a mat-raised-button aria-label="View basic sidenav example" color="primary" routerLink="new" >
    Add New
  </a>
</section>
<br />

<!-- Filter -->

<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <mat-card>
      <mat-card-title>Filter</mat-card-title>

      <form class="form-field-full">
        <div fxLayout="row wrap" fxLayoutGap="8px grid">

          <mat-form-field fxFlex="33" fxFlex.lt-sm="100" class="matero-col">
            <mat-label>Request Number</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="searchRequestNumber" [ngModelOptions]="{ standalone: true }">
          </mat-form-field>

          <mat-form-field fxFlex="33" fxFlex.lt-sm="100" class="matero-col">
            <mat-label>Order Type</mat-label>
            <mat-select placeholder="Order Type" [(ngModel)]="order_type" [ngModelOptions]="{ standalone: true }"> 
              <mat-option *ngFor="let type of orderType" [value]="type" >
                {{ type.replace('_',' ')  | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="34" fxFlex.lt-sm="100" class="matero-col">
            <mat-label>Status</mat-label>
            <mat-select placeholder="Status" [ngModelOptions]="{ standalone: true }" [(ngModel)]="order_status" >
              <mat-option *ngFor="let cate of status" [value]="cate">
                {{ cate | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="25" *ngIf="!isAdmin" fxFlex.lt-sm="100" class="matero-col">
            <mat-label>IN-OUT</mat-label>
            <mat-select placeholder="Status" (selectionChange)="searchRoleName= '';destinationRole = '';" [(ngModel)]="searchByInOut" name="inout" >
              <mat-option value="IN" style="text-transform: capitalize;">IN</mat-option>
              <mat-option value="OUT" style="text-transform: capitalize;">OUT</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field fxFlex="25" fxFlex.lt-sm="100" *ngIf="isAdmin || searchByInOut == 'IN'" class="matero-col">
            <mat-label>Source Role</mat-label>
            <mat-select placeholder="User Role" (selectionChange)="filterRoleChanged()" [(ngModel)]="searchRoleName" [ngModelOptions]="{ standalone: true }">
              <mat-option *ngFor="let role of filterRoleList" [value]="role.type">
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="25" fxFlex.lt-sm="100" *ngIf="isAdmin || searchByInOut == 'IN'" class="matero-col">
            <mat-label>Source User</mat-label>
            <mat-select placeholder="User" [(ngModel)]="searchUserId" [ngModelOptions]="{ standalone: true }">
              <mat-option *ngFor="let user of filterUserList" [value]="user._id" >
                {{ user.first_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="25" fxFlex.lt-sm="100" *ngIf="isAdmin || searchByInOut == 'OUT'" class="matero-col">
            <mat-label>Destination Role</mat-label>
            <mat-select placeholder="User Role" (selectionChange)="destRoleChanged()" [(ngModel)]="destinationRole" [ngModelOptions]="{ standalone: true }">
              <mat-option *ngFor="let role of filterRoleList" [value]="role.type" >
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="25" fxFlex.lt-sm="100" *ngIf="isAdmin || searchByInOut == 'OUT'" class="matero-col" >
            <mat-label>Destination User</mat-label>
            <mat-select placeholder="User" [(ngModel)]="destinationIdUserId" [ngModelOptions]="{ standalone: true }">
              <mat-option *ngFor="let user of destinationUserList" [value]="user._id" >
                {{ user.first_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          

          <!-- <mat-form-field fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
            <mat-label>Offer Type</mat-label>
            <mat-select placeholder="Type" [(ngModel)]="searchOfferType" name="searchOfferType" >
              <mat-option *ngFor="let oType of offerTypeList" [value]="oType.value">
                {{ oType.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <div fxFlex="25" fxFlex.lt-sm="100" class="matero-col">
            <button mat-raised-button color="primary" style="margin-right: 5px" (click)="filterRequest()">
              Search
            </button>
            <button mat-raised-button (click)="resetFilter()">Reset</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>

<!-- Table  -->
<!-- server side pagination  -->
<!-- <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Abc" #input>
</mat-form-field>
   -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- position Column -->
    <ng-container matColumnDef="request_no">
      <form>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Request No</th>
        <td mat-cell *matCellDef="let row; let i = index;">{{row.request_no}}
          <!-- <input type="number"  [ngModelOptions]="{ standalone: true }" style="max-width: 50px"
            [(ngModel)]="row.position" /> -->
        </td>
      </form>
    </ng-container>

    <!-- offer_type -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell style="max-width: 100px" *matCellDef="let row">
        {{ row.type === 'PURCHASE_ORDER'?'Purchase Order':'Transfer Order' }}
      </td>
    </ng-container>

    <!-- min_value -->
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
      <td mat-cell *matCellDef="let row">{{ row.source_id.first_name }}</td>
    </ng-container>

    <!-- discount_type -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
      <td mat-cell *matCellDef="let row">
        {{ row.destination_id.first_name }}
      </td>
    </ng-container>
    
    <!-- discount_value -->
    <ng-container matColumnDef="total_items">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total items</th>
      <td mat-cell *matCellDef="let row">
        {{ row.total_items }}
      </td>
    </ng-container>
    <!-- active Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <form>
      <td mat-cell *matCellDef="let row" style="text-transform: capitalize;">
        <mat-label *ngIf="!isAdmin || row.status != 'PENDING'">{{row.status}}</mat-label>
	  	<mat-form-field class="matero-col" style="max-width: 100px;" *ngIf="isAdmin && row.status == 'PENDING'">
        <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="row.status" (selectionChange)="changeStatus(row)">
          <mat-option *ngFor="let cate of orderStatus" [value]="cate" >{{ cate }}</mat-option>
        </mat-select>
      </mat-form-field>		
      </td>
    </form>
    </ng-container>

    <!-- coupon_code -->
    <ng-container matColumnDef="date_time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
      <td mat-cell *matCellDef="let row">
        {{ row.created_at | date }}
      </td>
    </ng-container>

    <!-- control column -->
    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Controls</th>
      <td mat-cell *matCellDef="let row">
        <mat-grid-list cols="3" rowHeight="50px">
          <mat-grid-tile *ngIf="row.status != 'APPROVED' && row.status != 'CANCELLED' && row.status != 'REJECTED'">
            <button mat-icon-button aria-label="Edit" (click)="navigateToEdit(row)" [routerLink]="[]" >
              <mat-icon color="primary">create</mat-icon>
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-icon-button aria-label="View" matTooltip="View" (click)="openView(row)" >
              <mat-icon color="primary">visibility</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr> -->
  </table>

  <mat-paginator
    (page)="pageEvent($event)"
    [length]="pageDetails.totalRecords"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
  ></mat-paginator>
</div>
